.playlist p {
    padding-left: 40px;
}
@media (max-width: 542px) {
    .playlist p {
        padding-left: 20px;
   }
}
.playlist-inner {
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
}
.playlist-inner .button-wrapper {
    flex-basis: 100%;
    text-align: right;
    padding-bottom: 30px;
}
@media (max-width: 542px) {
    .playlist-inner .button-wrapper {
        margin-bottom: 20px;
        text-align: left;
        margin-right: 20px;
   }
    .playlist-inner .button-wrapper button {
        margin-left: 20px;
   }
}

  